<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Manage recipe
      </button>
      <ul class="dropdown-menu open" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button" (click)="onAddToShoppingList()" style="cursor: pointer;">Edit
            <!-- <li><button class="dropdown-item" type="button" style="cursor: pointer;">Edit -->
            Shopping List
          </button></li>
        <li><button class="dropdown-item" type="button" (click)="onEditRecipe()">Edit Recipe</button></li>
        <li><button class="dropdown-item" type="button" (click)="onDeleteRecipe()">Delete Recipe</button></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{recipe.description}}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}-({{ingredient.amount}})
      </li>

    </ul>
  </div>
</div>