<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <div class="container">
            <form (ngSubmit)="onSignIn(f)" #f="ngForm">
                <div class="form-group">
                    <label for="email_field">Email</label>
                    <input type="email" name="email" id="email_field" ngModel class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password_field">Password</label>
                    <input type="password" name="password" id="password_field" ngModel class="form-control" required
                        [minlength]="6">
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign in</button>
            </form>
        </div>
    </div>
</div>